template(name="project_completed")
  .project_completed
    a(href="/palace/#{user._id}")
      | {{username user._id}}'s Palace
    h1.page-header
      a.back-button(href="/palace/#{user._id}") &#10094;
      .title
        | Completed Projects
          
    table.table
      each projects
        tr
          td.name
            a(href="/projects/#{_id}")
              | {{name}}
