template(name="project_edit")
  .actionbar
    .container
      a(href="/palace/#{project.userId}")
        img.avatar.avatar-sm.img-circle(src="{{avatar project.userId}}")
        | {{username project.userId}}'s Palace
  .container
    h1.page-header Project Settings
    +project_form
