template(name="project_index")
  h1.page-header Your Projects
    span.pull-right
      a.btn.btn-default(href="/projects/new") Add a project

  table.table
    each my_projects
      tr
        td.name
          a(href="/projects/#{_id}")
            =name
        td.date
          a(href="/projects/#{_id}")
            {{formatDate date}}

  hr
  table.table
    each all_projects
      tr
        td.name
          a(href="/projects/#{_id}")
            =name
        td.date
          a(href="/projects/#{_id}")
            {{formatDate date}}
