<template name="project_form">
  {{#autoForm collection="Projects" id="projectForm" doc=currentProject type=method}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='description'}}

    {{> afFieldLabel name='date'}}
    {{> afFieldInput name='date' type='datetime-local'}}

    {{#if currentProject}}
      <button type="submit" class="btn btn-primary update">Update</button>
    {{else}}
      <button type="submit" class="btn btn-primary insert">Create</button>
    {{/if}}
  {{/autoForm}}

  {{#if currentProject}}
    <hr>
    {{> afDeleteButton collection="Projects" doc=currentProject type="remove"}}
  {{/if}}
</template>
