<template name="project_form">
  <div class="row">
    <div class="col-md-6">
      {{#autoForm collection="Projects" id="projectForm" doc=currentProject type=method}}
        <div class="form-group">
          <label class="control-label" for="name">What's going to happen?</label>
          {{> afFieldInput name='name' type='text' placeholder="Paint the kitchen"}}
        </div>
        <div class="form-group">
          <label class="control-label" for="date">Optionally, when do you want to do it?</label>
          {{> afFieldInput name='date' type='datetime-local'}}
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Describe the plan</label>
          {{> afFieldInput name='description' type='textarea' placeholder="Tools/skills/equiptment/refreshments/etc..." rows=10}}
        </div>

        {{#if currentProject}}
          <button type="submit" class="btn btn-primary update">Update</button>
        {{else}}
          <button type="submit" class="btn btn-primary insert">Create</button>
        {{/if}}
      {{/autoForm}}
    </div>

    <div class="col-md-6 text-right">
      {{#if currentProject}}
        {{> afDeleteButton collection="Projects" doc=currentProject type="remove"}}
      {{/if}}
    </div>
  </div>
</template>
