template(name="project_show")
  .project_show
    a(href="/friends/#{userId}")
      {{username userId}}'s Palace
    h1.page-header
      =name
      span.pull-right
        unless canEdit
          unless userIsParticipating
            .btn.btn-primary.btn-join
              i.fa.fa-circle-o
              |  Join this project

        if canEdit
          unless isComplete
            a.btn.btn-primary.btn-complete
              i.fa.fa-circle-o
              |  Mark complete
          else
            a.btn.btn-primary.btn-in-progress
              i.fa.fa-check-circle
              |  Complete!

          a.btn.btn-default(href="/projects/#{_id}/edit") Settings

    .details
      if date
        i.fa.fa-calendar
        |  {{formatDate date}}

    .row
      .col-md-8
        if description
          .description
            +markdown
              {{description}}

        hr
        h4
          | Who's helping:
        ul.list-inline
          if participants
            each participants
              li
                a(href="{{user_path userId}}")
                  {{username userId}}
                if userIsCurrentUser userId
                  .pull-right
                    .btn.btn-primary.btn-leave Leave
          else
            li Nobody.

      .col-md-4
        .comments_container
          +comment_list
