template(name="project_show")
  .project_show
    a(href="/friends/#{project.userId}")
      | {{username project.userId}}'s Palace
    h1.page-header
      a.back-button(href="/friends/#{project.userId}") &#10094;
      .title
        | {{project.name}}

    section.actions
      unless canEdit
        unless userIsParticipating
          .btn.btn-primary.btn-join
            i.fa.fa-circle-o
            |  Join this project

      if canEdit
        unless isComplete
          a.btn.btn-primary.btn-complete
            i.fa.fa-circle-o
            |  Mark complete
        else
          a.btn.btn-primary.btn-in-progress
            i.fa.fa-check-circle
            |  Complete!

        a.btn.btn-default(href="/projects/#{project._id}/edit") Settings

    if date
      section.date
        i.fa.fa-calendar
        |  {{formatDate project.date}}


    if description
      section.description
        +markdown
          | {{project.description}}

    section.participants
      hr
      h4
        | Who's helping:
      ul.list-inline
        if participants
          each participants
            li
              a(href="{{user_path userId}}")
                | {{username userId}}
              if userIsCurrentUser userId
                |  (
                span.btn.btn-leave Leave Project
                | )
        else
          li Nobody.

    section.project_comments
      .comments_container
        +comment_list
