template(name="project_show")    
  .actionbar
    .container
      a(href="/palace/#{project.userId}")
        img.avatar.avatar-sm.img-circle(src="{{avatar project.userId}}")
        | {{username project.userId}}'s Palace
  .container
    h1.page-header
      a.back-button(href="/palace/#{project.userId}") &#10094;
      .title
        | {{project.name}}

    section.actions
      unless canEdit
        unless userIsParticipating
          .btn.btn-primary.btn-join
            i.fa.fa-circle-o
            |  Join this project

      if canEdit
        unless isComplete
          a.btn.btn-primary.btn-complete
            i.fa.fa-circle-o
            |  Mark complete
        else
          a.btn.btn-primary.btn-in-progress
            i.fa.fa-check-circle
            |  Complete!

        a.btn.btn-default(href="/projects/#{project._id}/edit") Settings

    if project.date
      section.date
        i.fa.fa-calendar
        |  {{formatDate project.date}}


    if project.description
      section.description
        +markdown
          | {{project.description}}

    section.participants
      hr
      h4
        | HELPERS
      ul.list-inline
        if has_participants
          each participants
            li
              a(href="{{user_path userId}}")
                img.avatar.avatar-sm.img-circle(src="{{avatar userId}}")
                | {{username userId}}
              if userIsCurrentUser userId
                |  (
                span.btn.btn-leave Leave Project
                | )
        else
          li Nobody.

    section.project_comments
      .comments_container
        +comment_list
