template(name="project_show")
  a(href="/friends/#{userId}")
    {{username userId}}'s Palace
  h1.page-header
    =name
    span.pull-right
      unless canEdit
        unless userIsParticipating
          .btn.btn-primary.btn-join Join

      if canEdit
        a.btn.btn-default(href="/projects/#{_id}/edit") Settings

  .row
    .col-md-6
      if date
        p
          {{formatDate date}}

      if description
        p
          +markdown
            {{description}}
    .col-md-6
      if participants
        h4
          | Who's helping

        unless canEdit
          unless userIsParticipating
            .btn.btn-primary.btn-join Join

        ul.list-inline
          each participants
            li
              a(href="{{user_path userId}}")
                {{username userId}}
              if userIsCurrentUser userId
                .pull-right
                  .btn.btn-primary.btn-leave Leave

  br

  +comment_list
