@color0: #f8f5ef;
@color0_lighter: #f8f5ef; //#fff;
@color1: #172bae;
@color1_lighter: #172bae; //#1938FF;

body {
  padding-top: 100px;
  background-color: @color0;
  color: @color1;
  font-family: 'Vollkorn', serif;
  font-size: 1.9em;
  font-weight: 200;
}

a {
  color: @color1;

  &:hover {
    color: @color1_lighter;
  }
}

hr {
  border-color: @color1;
}

section {
  margin-top: 60px;

  h2 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
  }
}

.alert {
  position: fixed;
  z-index: 10000;
  top: 24px;
  left: 40%;
  right: 40%;
  min-width: 300px;
  border-radius: 2px;
  border-bottom-width: 2px;
  text-align: center;
}

.btn {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  margin: 2px;

  &.btn-primary {
    border-color: @color1;
    background-color: @color1;
    background-image: none;
  }

  &.btn-default {
    border-color: @color1;
    color: @color1;
  }
}

a.back-button {
  position: absolute;
  margin-left: -35px;
  font-weight: 400;
  margin-top: -3px;
  font-family: arial;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  &:hover {
    margin-left: -38px;
  }
}

.form-group {
  margin-top: 40px;
}

input.form-control, textarea.form-control {
  border: 0;
  border-bottom: 1px dashed @color1;
  background-color: @color0;
  border-radius: 0;
  padding-left: 0;
}

.navbar {
  &.navbar-default {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: @color0;
    border-bottom-color: @color1;

    .navbar-nav {
      li {
        a {
          color: @color1;
        }
      }
    }

    .container {
      .navbar-brand {
        color: @color1;
        float: none;
        margin-left: 0px;
        padding-top: 10px;
        position: relative;
        top: 14px;
      }
    }
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid @color1;
}

.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 0;
  text-align: left;

  .title {
  }
}

.card {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom-width: 2px;
  border-radius: 2px;
  padding: 10px;
}

.comments_container {
  text-align: left;

  input.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  li {
    border-bottom: 1px solid #eee;
    padding-top: 10px;
  }
}

.project_show {
  .details {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .description {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.friend_show {
}

.project_show {
  .description {
    text-align: left;
  }
}
