template(name="token_give")
  .token_give
    input.to_user_id(type="hidden", value="{{_id}}")
    input.project_id(type="hidden", value="{{projectId}}")
    input.amount(type="number", placeholder="1")
    .btn.btn-primary.btn-give Give
