<template name="comment_list">
  <ul class="media-list comments">
    <li class="media">
      <div class="media-body">
        {{>comment_form}}
      </div>
    </li>

    {{#each comments}}
      <li class="media">
        <div class="media-body">
          <h5 class="media-heading">
            <a href="{{user_path userId}}">
              {{username userId}}
            </a>
            <small class="pull-right">
              {{formatTime createdAt}}
            </small>
          </h5>
          <p>
            {{comment}}
          </p>
        </div>
      </li>
    {{/each}}
  </ul>
</template>
