template(name="page_landing")
  h1 Palaces
  h2 Let's build something together

  p Palaces is a simple system for turning your place into a palace. It's also an auto-bonding platform; your friends will become your superfriends.

  ol
    li List your home projects.
    li Add your friends.
    li Invite your friends over for some task tackling.
    li Give 'em credits for their time.
    li Trade your time on their projects and earn your own credits.
    li Keep the system balanced; exchange your credits for efforts.
    li We all get palaces.

  p
    a.btn.btn-primary(href="signin") Get a palace!
