template(name="friend_show")
  h1
    {{username _id}}
    span.pull-right
      if canEdit
        a.btn.btn-default(href="/projects/#{_id}/edit") Edit
      else
        if userHasFriendship
          with userHasFriendship
            .btn.btn-default.btn-unfriend Unfriend
        else
          .btn.btn-primary.btn-befriend Add as a friend

  if projects
    h2 Projects
    ul
      each projects
        li
          a(href="/projects/#{_id}")
            =name
          if date
            |  on {{formatDate date}}

  if project_participations
    h2 Helping
    ul
      each project_participations
        li
          a(href="/projects/#{_id}")
            {{name}}
            |  at {{username userId}}'s Palace
            if date
              |  on {{formatDate date}}

  if friends
    h2 Friends
    ul
      each friends
        li
          a(href="/friends/#{_id}")
            {{username _id}}
  br

  +comment_list
